.header{
	width: 1180px;
	margin: 0 auto;
	padding-left: 20px;
	color: #009944;
	overflow: hidden;
}
.header img{
	float: left;
	padding-right: 45px;
	margin-top: 40px;
}
.header h2{
	font-size: 40px;
	
	line-height: 215px;
}
.content{
	position: relative;
}
.content .entry{
	position: absolute;
	width: 346px;
	top:102px;
	background: #fff;
	right: 410px;
}
.content .entry h2{
	padding-left: 25px;
	margin-top: 22px;
	padding-bottom: 8px;
	border-bottom: 1px solid #009944;
	font-size: 18px;
	color: #009944;
}
.content .list{
	padding: 0 26px ;
}
.content li{
	font-size: 12px;
	margin-top: 19px;
	border:1px solid #bfbfbf;
	line-height: 50px;
	padding-left: 12px;
	overflow: hidden;
}
.content li span{
	color: #0d0d0d;
}
.content li input{
	font-size: 12px;
	color: #a4a4a4;
	padding-left: 10px;
	width: 210px;
}
.content li .code{
	width: 80px;
	line-height: 50px;
}	
.content li a{
	float: right;
	line-height: 0;
    margin-top: 18px;
    margin-right: 2px;
}
.content li p{
	display: inline-block;
	padding-left: 30px;
	line-height: 35px;
}
.content .forget{
	font-size: 12px;
	line-height: 50px;
	color: #0d0d0d;
	display: block;
	margin-right: 26px;
	text-align: right;
}
.content .login{
	display: block;
	border: 1px solid #bfbfbf;
	font-size:18px;
	color: #fff;
	background: #009944;
	line-height: 40px;
	text-align: center;
	width: 291px;
    margin-left: 26px;
}
.content .register{
	display: block;
	margin: 19px 0 10px 0;
	font-size:12px;
	color: #009944;
	text-align: right;
	margin-right: 26px;
}
.footer{
	margin-top: 37px;
	background: #009944;
}
.footer P{
	text-align: center;
	line-height: 38px;
	font-size: 12px;
	color: #feffff;
}
.codes{
	position: relative;
}
#can{
	position: absolute;
    left: 30px;
    top: 0;
}
